.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #333;
  height: 100%;
  position: fixed;
  overflow: auto;
}

nav li {
  text-align: left;
}

nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

nav img {
  height: 50px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: rgb(240, 240, 240);
  border: 0.3px solid rgb(175, 175, 175);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}